@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Outfit:wght@500;600&display=swap');

* {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* containers start*/

body {
    display: flex;
    justify-content:center;
}

.main-wrapper {
    display:flex;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 70%;
}
  
.column-wrapper {
    border: 1px solid rgb(150, 150, 150);
    margin: 10px;
    max-width: 50%;
}

.item-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 10px 10px 40px 10px;
    align-self: stretch;
}
  
/* containers END*/

/* style START */

.button {
    cursor: pointer;
    background-color: rgb(200, 133, 255);
    border: none;
    margin-bottom: 10px;
}
  
.button:hover {
    background-color: #9b77ff;
}

.input {
    margin-bottom: 10px;
}
   
.output {
    white-space: pre-wrap;
    border: none;
    overflow-wrap: break-word;
}

.heading {
    margin: 10px;
    min-width: 300px;
}

/* style END */